.game-header {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left, .right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pause-btn {
    font-size: 30px;
    margin-inline: 30px;
    cursor: pointer;
}

.pause-buttons {
    margin: 0 auto;
}

.ps-btn {
    background: white;
    color: black;
    margin: 40px 0;
    padding: 10px 20px;
    font-size: 24px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.ps-btn:hover {
    background: skyblue;
}

.current-category {
    font-size: 24px;
}

.play-area {
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    padding: 20px;
}

.word {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 600;
}

.letter {
    width: 40px;
    height: 40px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    color: black;
    border-radius: 10px;
    color: white;
    transition: all 0.3s ease;
}

.letter.found {
    background: limegreen;
    color: black;
} 

.keys {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

.key {
    width: 40px;
    height: 40px;
    font-size: 24px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: skyblue;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.key.used {
    background: gray;
    color: white;
}

.win-text {
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
}
.win-word {
    font-size: 24px;
    margin: 0 auto;
}

.win-word span {
    color: skyblue;
}

@media (max-width: 768px) {

    

    .current-category {
        
        text-align: center;
    }

    .word {
        margin: 0;
    }
    .keys {
        width: 100%;
    }
}