@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

#App {
  width: 100vw;
  height: 100vh;
  background: #396afc; 
  background: -webkit-linear-gradient(to right, #2948ff, #396afc);
  background: linear-gradient(to right, #2948ff, #396afc);
  overflow: hidden;

  font-family: cursive;
}