@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#App {
  width: 100vw;
  height: 100vh;
  background: #396afc; 
  background: -webkit-linear-gradient(to right, #2948ff, #396afc);
  background: linear-gradient(to right, #2948ff, #396afc);
  overflow: hidden;

  font-family: "Roboto", sans-serif;
}

.wrapper-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 600px;

  display: flex;
  flex-direction: column;
  padding: 20px;

  backdrop-filter: blur(0px) saturate(180%);
  -webkit-backdrop-filter: blur(0px) saturate(180%);
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: white;
}

.game-title {
    font-family: "Bangers", system-ui;
    font-size: 80px;
    margin: 40px auto;
}

@media (max-width: 768px) {
  .wrapper-card {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
}